<!DOCTYPE html>

<html>
    <head>
        <title>404</title>
         <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/stylesheet.css" >
    </head>
    <body>

        <!-- short hand for creating a div with class main-content : div.main-content -->
            
            <div class="main-content">
                {{>header}}
                <p>{{errorMessage}}</p>
            </div>
        
        {{>footer}}
    </body>
</html>
