<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
         <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/stylesheet.css" >
    </head>
    <body>

        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/PinkaChennai.jpg">
        </div>
        
        <!--<h1>{{title}}</h1>-->
        <!--<img src="/public/img/PinkaChennai.jpg" >-->
        <!--<img src="C:/Users/Priyanka/NodeJS/web-server/public/img/PinkaChennai.jpg" >
        <p>This page is created by {{name}}</p>-->
        
        
        {{>footer}}
    </body>
</html>
