<!--In order to restart server automatically when any changes are made in hbs file, like in js file , use below
command:
nodemon src/app.js -e js,hbs
-->

<h1>{{title}}</h1>

<header>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>
